.buttons-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0;

  @media (max-width: 1199px) {
    flex-direction: row;
    justify-content: center;
    margin: 8px 36px;
    div {
      margin: 0 16px;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px 12px;
  }
}
