$light_primary_background_color: #FFFFFF;

$lighter_primary_button_color: #6c6af0;
$light_primary_button_color: #5452E4;
$light_primary_button_color-hover: #403eb4;

$light_secondary_button_color: #7081A6;
$light_secondary_button_color-hover: #374157;

$light_logo-secondary-color: #8b89ec;
