$light_primary_background_color: #ffffff;

$lighter_primary_button_color: #6c6af0;
$light_primary_button_color: #5452e4;
$light_primary_button_color-hover: #403eb4;

$light_secondary_button_color: #7081a6;
$light_secondary_button_color-hover: #374157;

$light_logo-secondary-color: #8b89ec;
