#modal-container {
  position: fixed;
  display: table;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  z-index: 1;
}
#modal-container.two {
  transform: scale(1);
}
#modal-container.two .modal-background {
  background: rgba(0, 0, 0, 0);
  -webkit-animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two .modal-background .modal {
  opacity: 0;
  -webkit-animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: scaleUp 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two + .content {
  -webkit-animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: scaleBack 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out {
  -webkit-animation: quickScaleDown 0s 0.5s linear forwards;
          animation: quickScaleDown 0s 0.5s linear forwards;
}
#modal-container.two.out .modal-background {
  -webkit-animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out .modal-background .modal {
  -webkit-animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: scaleDown 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container.two.out + .content {
  -webkit-animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
          animation: scaleForward 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
#modal-container .modal-background {
  display: table-cell;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  vertical-align: middle;
}
#modal-container .modal-background .modal {
  background: white;
  padding: 50px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 300;
  position: relative;
  width: 70%;
}
#modal-container .modal-background .modal h2 {
  font-size: 25px;
  line-height: 25px;
  margin-bottom: 15px;
}
#modal-container .modal-background .modal p {
  font-size: 18px;
  line-height: 22px;
}
#modal-container .modal-background .modal .modal-svg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 3px;
}
#modal-container .modal-background .modal .modal-svg rect {
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 778;
  stroke-dashoffset: 778;
}

.content {
  min-height: 100%;
  height: 100%;
  background: white;
  position: relative;
  z-index: 0;
}
.content h1 {
  padding: 75px 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}
.content .buttons {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.content .buttons .button {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  margin: 10px;
  background: red;
  font-size: 18px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.content .buttons .button:hover {
  color: white;
  background: #009bd5;
}

@-webkit-keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}
@-webkit-keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@keyframes scaleUp {
  0% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@keyframes scaleDown {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateY(1000px);
    opacity: 0;
  }
}
@-webkit-keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@keyframes scaleBack {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.85);
  }
}
@-webkit-keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleForward {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
.error {
  font-weight: 900;
  font-style: italic;
  font-size: clamp(3rem, 45vmin, 12vw);
  letter-spacing: 0.04em;
  margin: 0;
  color: #d1c4e9;
  -webkit-text-stroke-width: 0.045em;
  transform: skew(-10deg);
  display: flex;
  margin-top: 140px;
}

.error span {
  --t: 0.17em;
  display: block;
  text-shadow: 0 0 #d1c4e9, 0 0 #b388ff, 0 0 #7c4dff, 0 0 #651fff, 0 0 #6200ea;
  -webkit-animation: animate 1800ms forwards var(--delay, 100ms);
          animation: animate 1800ms forwards var(--delay, 100ms);
  transform: translate3d(var(--t), var(--t), 0);
}

.error span:nth-child(2) {
  --delay: 300ms;
}

.error span:nth-child(3) {
  --delay: 600ms;
}

.error span:nth-child(4) {
  --delay: 900ms;
}

@-webkit-keyframes animate {
  to {
    --t: -0.17em;
    text-shadow: 0.05em 0.05em #d1c4e9, 0.08em 0.08em #b388ff, 0.11em 0.11em #7c4dff, 0.14em 0.14em #651fff, 0.17em 0.17em #6200ea;
    transform: translate3d(var(--t), var(--t), 0);
  }
}

@keyframes animate {
  to {
    --t: -0.17em;
    text-shadow: 0.05em 0.05em #d1c4e9, 0.08em 0.08em #b388ff, 0.11em 0.11em #7c4dff, 0.14em 0.14em #651fff, 0.17em 0.17em #6200ea;
    transform: translate3d(var(--t), var(--t), 0);
  }
}
.logo::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.logo:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hsl(200deg, 100%, 80%);
  z-index: -1;
  transition: transform 0.3s ease;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding: 8px 16px;
  margin: 24px;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  flex-grow: 1;
  justify-content: flex-start;
  background-color: #FFFFFF;
}
.logo:hover {
  transition: all 0.3s ease-out;
}
.logo:hover .logo-first-half {
  color: #7081A6;
}
.logo:hover .logo-second-half {
  color: #5452E4;
}

.logo-inner {
  display: flex;
  cursor: pointer;
}

.logo-first-half {
  color: #5452E4;
}

.logo-second-half {
  color: #7081A6;
}

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-width: 900px;
  margin: 24px 16px;
  background-color: #FFFFFF;
  border-radius: 6px;
  min-width: 800px;
  transform: translate(-10%, 15%);
}

.player-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  padding: 8px;
  margin: 24px 16px;
  margin: 8px;
  min-height: 40px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 1300px) {
  .player-list {
    max-width: 100%;
    max-width: 900px;
  }
}
.player-list:hover {
  box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
  transition: all 0.5s ease-in;
}
.player-list div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.player-list > div:not(:first-child) {
  width: 100%;
  box-shadow: 0px -2px rgba(6, 4, 146, 0.041);
}

.element {
  margin: 16px;
}

.element-name {
  max-width: 70%;
  border: 1px solid;
  padding: 2px 5px;
  direction: ltr;
}
.element-name span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.element-button {
  border: none;
  background-color: transparent;
}

.waiting-room-header {
  display: flex;
  align-items: center;
  margin: 16px;
  background-color: black;
}

.wating-room-container {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 1420px) {
  .wating-room-container {
    width: 95%;
  }
}

.general-info-waitingRoom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  max-height: 600px;
  width: 85%;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 6px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 420px) {
  .general-info-waitingRoom .general-info {
    width: 95%;
  }
}

.room-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  margin: 16px;
}
@media screen and (max-width: 1420px) {
  .room-data {
    width: 100%;
    justify-content: center;
  }
}

.players-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.body.modal-active {
  overflow: hidden;
}

.main-content {
  margin: 36px 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.main-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.main-buttons button {
  margin: 20px;
  width: 75%;
  height: 80px;
  max-width: 650px;
  font-size: 18px;
  border-radius: 10px;
}
@media screen and (max-width: 420px) {
  .main-buttons button {
    width: 100%;
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.form-container button {
  border-radius: 12px;
  height: 64px;
  width: 96px;
  font-size: 16px;
}

.paper {
  width: 100%;
  max-width: 900px;
  height: 100%;
  padding: 32px 8px;
  margin: 24px 16px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  transition: all 0.5s ease-in-out;
}
.paper:hover {
  box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
  transition: all 0.5s ease-in;
}

.paper-create {
  width: 100%;
  max-width: 900px;
  height: 100%;
  padding: 32px 8px;
  margin: 24px 16px;
  margin-top: 15vh;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  transition: all 0.5s ease-in-out;
}
.paper-create:hover {
  box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
  transition: all 0.5s ease-in;
}

.contact {
  display: flex;
  flex-direction: column;
  margin: 24px;
  padding: 8px;
  border-radius: 6px;
}
@media screen and (max-width: 750px) {
  .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.title {
  display: flex;
  align-items: center;
  color: #7081A6;
}
.title h1 {
  font-size: 40px;
  font-weight: bold;
  color: #7081A6;
  margin: 24px;
}
.title svg {
  transition: all 0.6s ease-in-out;
}
.title svg:hover {
  transition: all 0.6s ease-out;
  transform: rotate(360deg) scale(1.5);
  color: #5452E4;
  cursor: pointer;
}

.contact-title {
  font-size: 24px;
  font-weight: bold;
  color: #7081A6;
  margin: 24px;
}

.sub-title {
  font-weight: bold;
  color: #374157;
  margin: 16px 24px;
  transition: all 0.3s ease-in-out;
}
.sub-title:hover {
  color: #403eb4;
  transition: all 0.3s ease-out;
}

.contact-people {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-person {
  height: 100%;
  min-width: 25%;
  padding: 32px;
  margin: 24px 32px;
  border-radius: 6px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  transition: all 0.5s ease-in-out;
}
.contact-person:hover {
  box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
  transition: all 0.5s ease-in;
}
.contact-person:hover {
  cursor: pointer;
}

.contact-text {
  font-size: 16px;
  color: #374157;
  margin: 24px 36px;
  text-align: justify;
}

.general-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90%;
  width: 85%;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 6px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 420px) {
  .general-info .general-info {
    width: 95%;
  }
}

.form-element {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

.form-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.form-element-visibility {
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: center;
  margin: 0 12px;
  min-height: 120px;
}

.form-elements-visibility {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
}
@media (max-width: 700px) {
  .form-elements-visibility {
    flex-direction: column;
  }
  .form-elements-visibility .form-element-visibility {
    min-height: 0px;
    margin-top: 24px;
  }
}

.form-inner-element {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-element-time {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-element-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
}

.faq-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 24px 36px;
  max-width: 900px;
}
@media (max-width: 450px) {
  .faq-container .faq-container {
    width: 95%;
    margin: 24px 0px;
  }
}

.faq-questions {
  width: 100%;
  min-width: 300px;
}
.faq-questions h5 {
  font-size: 18px;
  margin: 8px;
  font-weight: bold;
}
.faq-questions p {
  font-size: 16px;
  margin: 8px;
  color: #7081A6;
  text-align: justify;
}

.rooms {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin-bottom: 68px;
}

.header {
  display: flex;
  margin: 8px;
  min-height: 40px;
  background-color: #FFFFFF;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  transition: all 0.5s ease-in-out;
}
.header:hover {
  box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
  transition: all 0.5s ease-in;
}
.header .header-element {
  box-shadow: -2px 0px rgba(6, 4, 146, 0.041);
}
.header .header-element:first-child {
  box-shadow: none;
}
.header .but {
  text-align: center;
  justify-content: center;
}
.header .but button {
  width: 100%;
  height: 100%;
}
.header svg {
  margin: 8px;
  padding-bottom: 4px;
}

.filter {
  max-width: 70%;
}
@media screen and (max-width: 1430px) {
  .filter {
    max-width: 100%;
  }
  .filter .rooms {
    width: 95%;
  }
}

.header-element {
  display: flex;
  align-items: center;
  margin: 16px;
}

.center {
  text-align: center;
  justify-content: center;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.box {
  border-radius: 20px;
  width: 60px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
  -webkit-animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s;
          animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s;
  /*       transform:  */
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  50% {
    width: 60px;
    height: 100%;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  100% {
    width: 90%;
    height: 100%;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset;
  }
}

@keyframes anime {
  0% {
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    box-shadow: 0 0 0 #cccccc, 0 0 0 #ffffff, 10px 10px 10px #cccccc inset, -10px -10px 10px #ffffff inset;
  }
  25% {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  50% {
    width: 60px;
    height: 100%;
    background: #f8f8f8;
    box-shadow: 10px 10px 10px #cccccc, 10px 10px 10px #ffffff, 0 0 0 #cccccc inset, 0 0 0 #ffffff inset;
  }
  100% {
    width: 90%;
    height: 100%;
    box-shadow: 40px 40px 40px #cccccc, 0 0 0 #ffffff, 0 0 0 #cccccc inset, 2px 2px 2px #ffffff inset;
  }
}/*# sourceMappingURL=index.css.map */