.body {
  width: 100%;
  height: 100%;
}

.main-content {
  margin: 0px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.main-buttons button {
  margin: 20px;
  width: 75%;
  height: 80px;
  max-width: 650px;
  font-size: 18px;
  border-radius: 10px;
}

@media screen and (max-width: 420px) {
  .main-buttons button {
    width: 100%;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 16px;
  margin: 24px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 4px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #FFFFFF;
}

.logo:hover {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.logo:hover .logo-first-half {
  color: #7081A6;
}

.logo:hover .logo-second-half {
  color: #5452E4;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.logo-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.logo-first-half {
  color: #5452E4;
}

.logo-second-half {
  color: #7081A6;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container button {
  border-radius: 12px;
  height: 64px;
  width: 96px;
  font-size: 16px;
}

.paper {
  width: 100%;
  max-width: 900px;
  height: 100%;
  padding: 32px 8px;
  margin: 24px 16px;
  background-color: #FFFFFF;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
          box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.paper:hover {
  -webkit-box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
          box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 24px;
  padding: 8px;
  border-radius: 6px;
}

@media screen and (max-width: 750px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #7081A6;
}

.title h1 {
  font-size: 40px;
  font-weight: bold;
  color: #7081A6;
  margin: 24px;
}

.title svg {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.title svg:hover {
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transform: rotate(360deg) scale(1.5);
          transform: rotate(360deg) scale(1.5);
  color: #5452E4;
  cursor: pointer;
}

.contact-title {
  font-size: 24px;
  font-weight: bold;
  color: #7081A6;
  margin: 24px;
}

.sub-title {
  font-weight: bold;
  color: #374157;
  margin: 16px 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sub-title:hover {
  color: #403eb4;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-person {
  height: 100%;
  min-width: 25%;
  padding: 32px;
  margin: 24px 32px;
  border-radius: 6px;
  background-color: #FFFFFF;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
          box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contact-person:hover {
  -webkit-box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
          box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.contact-person:hover {
  cursor: pointer;
}

.contact-text {
  font-size: 16px;
  color: #374157;
  margin: 24px 36px;
  text-align: justify;
}

.general-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90%;
  width: 85%;
  -webkit-box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
          box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 6px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 420px) {
  .general-info .general-info {
    width: 95%;
  }
}

.form-element {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

.faq-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 24px 36px;
  max-width: 900px;
}

@media (max-width: 450px) {
  .faq-container .faq-container {
    width: 95%;
    margin: 24px 0px;
  }
}

.faq-questions {
  width: 100%;
  min-width: 300px;
}

.faq-questions h5 {
  font-size: 18px;
  margin: 8px;
  font-weight: bold;
}

.faq-questions p {
  font-size: 16px;
  margin: 8px;
  color: #7081A6;
  text-align: justify;
}

.rooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 80%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px;
  min-height: 40px;
  background-color: #FFFFFF;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
          box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.header:hover {
  -webkit-box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
          box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 0px 24px 60px rgba(6, 48, 125, 0.295), 0px 12px 24px rgba(27, 59, 119, 0.103);
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.header .header-element {
  -webkit-box-shadow: -2px 0px rgba(6, 4, 146, 0.041);
          box-shadow: -2px 0px rgba(6, 4, 146, 0.041);
}

.header .header-element:first-child {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header .but button {
  width: 100%;
  height: 100%;
}

.header svg {
  margin: 8px;
  padding-bottom: 4px;
}

.filter {
  max-width: 70%;
}

@media screen and (max-width: 1430px) {
  .filter {
    max-width: 90%;
  }
  .filter .rooms {
    width: 95%;
  }
}

.header-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px;
}

.element {
  padding: 16px 8px;
}
/*# sourceMappingURL=index.css.map */