$light_primary_background_color: #FFFFFF;

$light_primary_button_color: #5452E4;
$light_primary_button_color-hover: #403eb4;

$light_secondary_button_color: #7081A6;
$light_secondary_button_color-hover: #374157;

$light_logo-secondary-color: #8b89ec;

@mixin display-flex ($direction, $spacing){
  display: flex;
  align-items: center;
  flex-direction: $direction;
  justify-content: $spacing;
}

.body{
    width: 100%;
    height: 100%;
}

.main-content{
    margin: 60px 20px;
    @include display-flex(column, center);
}

.main-buttons{
    @include display-flex(column, center);
    width: 100%;
    button{
        margin: 20px;
        width: 75%;
        height: 80px;
        max-width: 650px;
        font-size: 18px;
        border-radius: 10px
    }

    @media screen and (max-width: 420px){
        button{
            width: 100%;
        }
    }
}

.logo{
    @include display-flex(row, center);
    padding: 8px 16px;
    margin: 24px;
    transition: all 0.3s ease-out;
    border-radius: 4px;
    flex-grow: 1;     
    justify-content: flex-start;

    background-color: #FFFFFF;
    &:hover{
        transition: all 0.3s ease-out;
        // background: linear-gradient(45deg,#F17C58, #E94584, #24AADB , #27DBB1,#FFDC18, #FF3706);
        // background-size: 600% 100%;
        // animation: gradient 16s linear infinite;
        // animation-direction: alternate;

        .logo-first-half{
            color: $light_secondary_button_color;
        }
        .logo-second-half{
            color: $light_primary_button_color;
        }
    }
}

@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

.logo-inner{
    display: flex;
    cursor: pointer;
}

.logo-first-half{
    color: $light_primary_button_color;
}

.logo-second-half{
    color: $light_secondary_button_color;
}

.form-container{
    @include display-flex(column, center);
    button {
        border-radius: 12px;
        height: 64px;
        width: 96px;
        font-size: 16px;
    }
}

.paper{
    width: 100%;
    max-width: 900px;
    height: 100%;
    padding: 32px 8px;
    margin: 24px 16px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
    transition: all 0.5s ease-in-out;
    &:hover{
        // background-color: rgb(250, 250, 250);
        box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158), 
        0px 24px 60px rgba(6, 48, 125, 0.295), 
        0px 12px 24px rgba(27, 59, 119, 0.103);
        transition: all 0.5s ease-in;
    }
}

.general-info{
    @include display-flex(column, center);
    height: 90%;
    width: 80%;
    box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 6px;
    background-color: #FFFFFF;

    button{
        margin: 8px;
        height: 36px;
    }
    form{
        width: 100%;
    }
}