$light_primary_background_color: #FFFFFF;

$lighter_primary_button_color: #6c6af0;
$light_primary_button_color: #5452E4;
$light_primary_button_color-hover: #403eb4;

$light_secondary_button_color: #7081A6;
$light_secondary_button_color-hover: #374157;

$light_logo-secondary-color: #8b89ec;

// @use "./components/waitingRoom/_waitingRoom.scss";
@use "./components/_modal.scss";
@use "./components/_roomData.scss";
@use "./components/_logo.scss";
@use "./components/_background.scss";
@use "./components/_playerList.scss";
@use "./components/_waitingRoom.scss";
@use "./components/_buttonsLayout.scss";

@mixin display-flex ($direction, $spacing) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    justify-content: $spacing;
}

// :root{
//     scale down body 0.8 time
//     transform: scale(0.8) translate(0, -100px);

// }

.body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    &.modal-active {
        overflow: hidden;
    }
}

.main-content {
    margin: 0px 16px;
    margin-bottom: 88px;

    @media screen and (max-width: 600px) {
        .main-content{
            margin: 0px 8px;
        }
    }
    
    @include display-flex(column, center);
}

.main-buttons {
    @include display-flex(column, center);
    width: 100%;

    button {
        margin: 20px;
        width: 75%;
        height: 80px;
        max-width: 650px;
        font-size: 18px;
        border-radius: 10px
    }

    @media screen and (max-width: 420px) {
        button {
            width: 100%;
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0%
    }

    100% {
        background-position: 100%
    }
}


.form-container {
    @include display-flex(column, center);

    button {
        border-radius: 12px;
        height: 64px;
        width: 96px;
        font-size: 16px;
    }
}

@mixin boarder () {
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
    transition: all 0.5s ease-in-out;

    &:hover {
        // background-color: rgb(250, 250, 250);
        box-shadow: 0px 2px 4px rgba(5, 3, 124, 0.158),
            0px 24px 60px rgba(6, 48, 125, 0.295),
            0px 12px 24px rgba(27, 59, 119, 0.103);
        transition: all 0.5s ease-in;
    }
}

.paper {
    width: 100%;
    max-width: 900px;
    height: 100%;
    padding: 32px 8px;
    margin: 24px 16px;
    @include boarder();
}

.paper-create {
    width: 100%;
    max-width: 900px;
    height: 100%;
    padding: 32px 8px;
    margin: 24px 16px;
    margin-top: 10vh;
    @include boarder();

    @media screen and (max-width: 700px) {
        margin: 0px;
    }

}

@mixin about-pages {
    display: flex;
    flex-direction: column;
    margin: 24px;
    padding: 8px;
    border-radius: 6px;

    @media screen and (max-width: 750px) {
        @include display-flex(column, center);
    }
}

.contact {
    @include about-pages;
}

@mixin title ($color, $type, $size) {
    font-size: $size;
    font-weight: $type;
    color: $color;
}

.title {
    display: flex;
    align-items: center;
    color: $light_secondary_button_color;

    h1 {
        @include title($light_secondary_button_color, bold, 40px);
        margin: 24px;
    }

    svg {
        transition: all 0.6s ease-in-out;
    }

    svg:hover {
        transition: all 0.6s ease-out;
        transform: rotate(360deg) scale(1.5);

        color: $light_primary_button_color;
        cursor: pointer;
    }
}

.contact-title {
    @include title($light_secondary_button_color, bold, 24px);
    margin: 24px;
}

.sub-title {
    font-weight: bold;
    color: $light_secondary_button_color-hover;
    margin: 16px 24px;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: $light_primary_button_color-hover;
        transition: all 0.3s ease-out;
    }
}

.contact-people {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-person {
    height: 100%;
    min-width: 25%;
    padding: 32px;
    margin: 24px 32px;
    border-radius: 6px;
    @include boarder();

    &:hover {
        cursor: pointer;
    }
}

.contact-text {
    font-size: 16px;
    color: $light_secondary_button_color-hover;
    margin: 24px 36px;
    text-align: justify;

}

.general-info {
    @include display-flex(column, center);
    height: 90%;
    width: 85%;
    box-shadow: 0px 2px 4px rgba(7, 4, 146, 0.1), 0px 24px 60px rgba(6, 47, 125, 0.05), 0px 12px 24px rgba(27, 59, 119, 0.05);
    margin-bottom: 24px;
    padding: 16px;
    border-radius: 6px;
    background-color: #FFFFFF;

    @media screen and (max-width: 700px){    
        .general-info {
            width: 100%;
        }
    }
}

.form-element {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}

.form-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.form-elements-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;


    @media (max-width: 700px) {
        flex-direction: column;
        .form-element-options{
            min-height: 0px;
            margin-top: 24px;
        }
    }
}

.form-element-visibility {
    display: flex;
    align-items: center;
    width: 25%;
    //center elements
    justify-content: center;
    margin: 0 12px;
    min-height: 120px;
}

.form-elements-visibility {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;


    @media (max-width: 700px) {
        flex-direction: column;
        .form-element-visibility{
            min-height: 0px;
            margin-top: 24px;

        }
    }

}

.form-inner-element {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-element-time {
    display: flex;
    flex-direction: row;
    align-items: center;
    // min-width: 30%;
}

.form-element-checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    // min-width: 30%;
    // add margin
    margin-left: 16px;
}

.faq-container {
    @include display-flex(column, center);
    margin: 24px 36px;
    max-width: 900px;

    @media (max-width: 450px) {
        .faq-container {
            width: 95%;
            margin: 24px 0px;
        }
    }
}

.faq-questions {
    width: 100%;
    min-width: 300px;

    h5 {
        font-size: 18px;
        margin: 8px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        margin: 8px;
        color: #7081A6;
        text-align: justify;
    }
}

.rooms {
    @include display-flex(column, center);
    height: 100%;
    width: 80%;
    margin-bottom: 68px;
}

.header {
    display: flex;
    margin: 8px;
    min-height: 40px;
    @include boarder();

    .header-element {
        box-shadow: -2px 0px rgba(6, 4, 146, 0.041);

    }

    .header-element:first-child {
        box-shadow: none;
    }

    .but {
        text-align: center;
        justify-content: center;

        button {
            width: 100%;
            height: 100%;
        }
    }

    svg {
        margin: 8px;
        padding-bottom: 4px;
    }


}

.filter {
    max-width: 70%;

    @media screen and (max-width: 1430px) {
        max-width: 100%;

        .rooms {
            width: 95%;
        }
    }
}

.header-element {
    display: flex;
    align-items: center;
    margin: 16px;
}

.center {
    text-align: center;
    justify-content: center;
}

.players {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    border-radius: 20px;
    width: 60px;
    height: 60px;
    background: #ffffff;
    box-shadow: 0 0 0 #cccccc,
        0 0 0 #ffffff,
        10px 10px 10px #cccccc inset,
        -10px -10px 10px #ffffff inset;
    animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1) 1s;
    /*       transform:  */
    animation-fill-mode: forwards;

}

@keyframes anime {
    0% {
        width: 60px;
        height: 60px;
        background: #f0f0f0;
        box-shadow: 0 0 0 #cccccc,
            0 0 0 #ffffff,
            10px 10px 10px #cccccc inset,
            -10px -10px 10px #ffffff inset;
    }

    25% {
        width: 60px;
        height: 60px;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc,
            10px 10px 10px #ffffff,
            0 0 0 #cccccc inset,
            0 0 0 #ffffff inset;
    }

    50% {
        width: 60px;
        height: 100%;
        background: #f8f8f8;
        box-shadow: 10px 10px 10px #cccccc,
            10px 10px 10px #ffffff,
            0 0 0 #cccccc inset,
            0 0 0 #ffffff inset;
    }

    100% {
        width: 90%;
        height: 100%;
        box-shadow: 40px 40px 40px #cccccc,
            0 0 0 #ffffff,
            0 0 0 #cccccc inset,
            2px 2px 2px #ffffff inset;
    }
}